@font-face {
     font-family: 'MVBoli';
     src: url('../fonts/MvBoli/MVBoli.svg#MVBoli') format('svg'),
          url('../fonts/MvBoli/MVBoli.ttf') format('truetype'),
          url('../fonts/MvBoliMVBoli.woff') format('woff'),
          url('../fonts/MvBoli/Mvboli.eot?#iefix') format('embedded-opentype'),
          url('../fonts/MvBoli/Mvboli.eot'),
          url('../fonts/MvBoli/mvboli.woff2') format('woff2');
     font-weight: normal;
     font-style: normal;
}
@font-face {
     font-family: 'Parisienne';
     src:url('../fonts/Parisienne/Parisienne-ymRq.eot');
     src:url('../fonts/Parisienne/Parisienne-Regular.svg#Parisienne-Regular') format('svg'),
         url('../fonts/Parisienne/Parisienne-Regular.ttf') format('truetype'),
         url('../fonts/Parisienne/Parisienne-Regular.woff') format('woff'),
         url('../fonts/Parisienne/Parisienne-ymRq.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Parisienne/Parisienne-ymRq.woff2') format('woff2');
     font-weight: normal;
     font-style: normal;
}
@font-face {
     font-family: 'Calibril';
     src: url('../fonts/Calibri/calibril.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'BrushScriptMT';
     src: url('BRUSHSCI.eot');
     src: url('BRUSHSCI.eot?#iefix') format('embedded-opentype'),
          url('BRUSHSCI.woff2') format('woff2'),
          url('BrushScriptMT.svg#BrushScriptMT') format('svg'),
          url('BrushScriptMT.ttf') format('truetype'),
          url('BrushScriptMT.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'GeographicaScript';
     src: url('../fonts/GeoScript/GeographicaScript.eot');
     src: url('../fonts/GeoScript/GeographicaScript.eot?#iefix') format('embedded-opentype'),
          url('../fonts/GeoScript/GeographicaScript.svg#GeographicaScript') format('svg'),
          url('../fonts/GeoScript/GeographicaScript.ttf') format('truetype'),
          url('../fonts/GeoScript/GeographicaScript.woff') format('woff'),
          url('../fonts/GeoScript/GeographicaScript.woff2') format('woff2');
     font-weight: normal;
     font-style: normal;
}
  