/*|| Main Styles*/
*,*::before,*::after{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
html{
    font-family: $default-font;
	background: lighten($primary-color, 55);
	scroll-behavior: smooth;
	// width: 100vw !important;
	// overflow: hidden;
}
a {
	outline: none;
	text-decoration: none;
}
::selection {
	background-color: $primary-color;
	color: #ffffff;
}
